<!DOCTYPE html>
<html>
<head>
    <title>Random Banner Demo</title>
</head>
<body>
    <div style="background: url('GetImageHandler.ashx?subject=biology') no-repeat; height: 800px; width: 100%; background-size: contain;">
    </div>
</body>
</html>
